body {
    background-image: url("../images/backgroundimg.jpg"); 
    background-size:cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}


img {
      width: 150px;
      padding: 25px;
      height: 150px;
}


.display {
    display: flex;

}


.fightButton {
        padding: 10px 35px;
        font-size: 19px;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #fff;
        background-color: #080808;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #1F1F1F;
      }
      
      .fightButton:hover {background-color: #080808}
      
      .fightButton:active {
        background-color: #080808;
        box-shadow: 0 5px #1F1F1F;
        transform: translateY(4px);
      }


      .player {
        
    
    }

   

    .playersStyle {
        border: solid, 5px;
        border-color: blue;
        background-color: #fff;
        margin: 25px;
        position: relative;
    
    }

    .posrel {
        position: relative;
        text-align: center;
        color: whitesmoke;
  }
  
  
  .posabs {
    position: absolute;
    bottom: 5px;
    width: auto;
    width: 100%;
    right: .5px;
    /* padding: 12px; */
    /* background-color: #4aaaa5; */
  }

  .posabst {
    position: absolute;
    top: 5px;
    width: auto;
    width: 100%;
    right: .5px;
    /* padding: 12px; */
    /* background-color: #4aaaa5; */
  }
.banner {
    text-align: center;
    text-justify: auto;
   
    
}

.bannerHead {
    display: block;
    text-align: center;
    text-justify: auto;
   
    
}


.enemies{
    background-color: rgb(0, 6, 12);

}


.fighter {
    background-color: rgb(65, 140, 224);

}


.opponent {

    background-color: rgb(140, 22, 38);

}



